body {
    background-color: #0e3386
}

h3, h4 {
    background-color: #cc3433;
    color: white;
    padding: 10px;
}

.label-style {
    margin-bottom: 10px;
}

.button-text {
    margin-left: 10px;
}

.ui-autocomplete {
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    list-style: none;
    list-style-type: none;
    padding: 5px;
}

.ui-menu-item {
    margin-left: none;
    font-size:1.3em;
}

.ui-menu-item:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}
